
.console-ansi-1 { font-weight: bold; }
.console-ansi-3 { font-style: italic; }

.console-ansi-30 { color: #171421; }
.console-ansi-31 { color: #C01C28; }
.console-ansi-32 { color: #26A269; }
.console-ansi-33 { color: #A2734C; }
.console-ansi-34 { color: #12488B; }
.console-ansi-35 { color: #A347BA; }
.console-ansi-36 { color: #2AA1B3; }
.console-ansi-37 { color: #D0CFCC; }

.console-ansi-40 { background: #171421; }
.console-ansi-41 { background: #C01C28; }
.console-ansi-42 { background: #26A269; }
.console-ansi-43 { background: #A2734C; }
.console-ansi-44 { background: #12488B; }
.console-ansi-45 { background: #A347BA; }
.console-ansi-46 { background: #2AA1B3; }
.console-ansi-47 { background: #D0CFCC; }

.console-ansi-90 { color: #5E5C64; }
.console-ansi-91 { color: #F66151; }
.console-ansi-92 { color: #33D17A; }
.console-ansi-93 { color: #E9AD0C; }
.console-ansi-94 { color: #2A7BDE; }
.console-ansi-95 { color: #C061CB; }
.console-ansi-96 { color: #33C7DE; }
.console-ansi-97 { color: #FFFFFF; }

.console-ansi-100 { background: #5E5C64; }
.console-ansi-101 { background: #F66151; }
.console-ansi-102 { background: #33D17A; }
.console-ansi-103 { background: #E9AD0C; }
.console-ansi-104 { background: #2A7BDE; }
.console-ansi-105 { background: #C061CB; }
.console-ansi-106 { background: #33C7DE; }
.console-ansi-107 { background: #FFFFFF; }

