
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-dark: #1f1717;
    --primary-light: #fcf5ed;
    --accent: #fcf5ed44;
    --secondary-dark: #625195;
    --secondary-light: #c05895;
}

*::selection {
    background: var(--primary-light);
    color: var(--primary-dark);
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    margin: 0px;
    background: 
        linear-gradient(to top right, var(--secondary-light), 60%, var(--secondary-dark));
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#example {
    position: fixed;
    min-width: 25vw;
    min-height: 50vh;
    top: 50vh;
    left: 75vw;
    transform: translate(-50%, -50%);
    background: var(--primary-dark);
    border-radius: 1rem;
    padding: 1rem;
    outline: 1px solid var(--accent);
    outline-offset: -0.5rem;
    color: var(--primary-light);
    font-family: "Noto Sans Mono", monospace;
    box-shadow: 0 0 0.5rem #000000aa;
}

#example-name {
    padding: 0.5rem;
    color: var(--accent);
}

#example-div {
    outline: none;
    border: none;
    background: var(--accent);
    height: 1px;
    margin: 0.5rem 0 0.5rem 0;
}

#example-body {
    white-space: pre-wrap;
    padding: 0.5rem;
}

#content {
    width: 50%;
    min-height: 100vh;
    background: var(--primary-dark);
    color: var(--primary-light);
    font-family: "Rubik", sans-serif;
    padding: 3rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem #000000aa;
}

#gera-banner {
    margin-bottom: 3rem;
    box-sizing: border-box;
    height: 10rem;
    display: flex;
    flex-direction: row;
}

#gera-logo {
    height: 100%;
}

#gera-banner-text-wrapper {
    position: relative;
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
}

#gera-banner-text {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#gera-banner-header {
    font-size: 2.5rem;
    font-weight: bold;
}

.link {
    display: block;
    background: none;
    border: none;
    outline: 1px solid var(--accent);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: inherit;
    text-decoration: inherit;
}

.link-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.link:hover {
    background: var(--primary-light);
    color: var(--primary-dark);
    outline: 1px solid var(--primary-light);
}