
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-dark: #1f1717;
    --primary-light: #fcf5ed;
    --accent: #fcf5ed44;
    --secondary-dark: #625195;
    --secondary-light: #c05895;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    background: var(--primary-dark);
    color: var(--primary-light);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    position: absolute;
    left: 50vw;
    top: 3rem;
    transform: translate(-50%, 0%);
    width: 90vmin;
    padding-bottom: 15rem;
    font-family: "Rubik", sans-serif;
}

#navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

#navbar-logo {
    height: 4rem;
}

#navbar-links-wrapper {
    position: relative;
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#navbar-links {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#navbar-links > a {
    margin: 0.5rem;
    font-size: 1.2rem;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.subheading {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
}

.codespan {
    font-family: "Noto Sans Mono", monospace;
    font-size: 0.9rem;
    padding: 0.25rem;
    outline: 1px solid var(--accent);
    border-radius: 0.25rem;
    line-height: 2rem;
}

.codeblock {
    font-family: "Noto Sans Mono", monospace;
    font-size: 0.9rem;
    padding: 0.5rem;
    outline: 1px solid var(--accent);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    white-space: pre-wrap;
}

#section-body a {
    color: var(--secondary-light);
}

#section-body a:hover {
    color: var(--secondary-dark);
}

#connections {
    margin-top: 5rem;
    position: relative;
    width: 100%;
}

#section-body .connection-link {
    color: var(--primary-light); 
    padding: 1rem;
    outline: 1px solid var(--accent);
    border-radius: 0.5rem;
    min-width: 15%;
    max-width: 45%;
}

#section-body .connection-link:hover {
    text-decoration: none;
    background: var(--primary-light);
    outline: 1px solid var(--primary-light);
    color: var(--primary-dark);
}

.connection-link > div {
    font-size: 1.2rem;
    font-weight: bold;
}

#connection-prev {
    position: absolute;
    left: 0px;
}

#connection-next {
    position: absolute;
    right: 0px;
    text-align: right;
}